@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: outfit, sans-serif;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  animation: fadein 1.5s;
}

@keyframes fadein {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

